.about {
    min-height: 85vh;
    width: 100%;

    background-color: white;
    
    margin: 0;
    padding: 0;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 2rem 1rem;
}

.aboutme_title_wrapper {
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 2rem;
}

.aboutme_title {
    display: flex;
    font-family: 'Press Start 2P';
    font-size: 2rem;
    color: black;
    word-spacing: 0.5rem;
    margin-bottom: 0;

    -webkit-text-stroke-width: 0.5px; /*text outline*/
    -webkit-text-stroke-color: black; /*text outline*/
}

.aboutmeHI_wrapper {
    width: 100%;
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.aboutmeHI {
    font-family: 'Press Start 2P';
    font-size: 1.5rem;
    background: linear-gradient(to right, rgb(15, 31, 175), rgb(0, 157, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin: 1rem 0;
}

.aboutme_text_wrapper {
    width: 100%;
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.aboutme_text {
    font-family: 'Press Start 2P';
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 1.25rem;
}

.images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.image {
    display: flex;
    justify-content: space-between; /* Center horizontally */
    width: 5rem;
    height: 5rem;
    margin: 0 5%;
}

.cooking {
    margin-left: 10%;
}

@media (min-width: 768px) {
    .aboutme_title {
        font-size: 2.5rem;
        word-spacing: 1rem;
    }

    .aboutmeHI {
        font-size: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .aboutme_text {
        font-size: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .image {
        width: 7.5rem;
        height: 7.5rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    .cooking {
        margin-left: 15%;
    }
}

@media (min-width: 1024px) {
    .aboutme_title {
        font-size: 3rem;
    }

    .aboutmeHI {
        font-size: 2.5rem;
    }

    .aboutme_text {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}